/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.running-text {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .sidebar {
    width: 60px; /* lebar sidebar */
    height: 100vh;
    position: fixed;
    top: 0;
    left: -60px; /* sembunyikan sidebar */
    transition: left 0.3s ease;
  }
  
  .sidebar:hover {
    left: 0; /* tampilkan sidebar saat kursor diarahkan ke kiri */
  }
  